@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body{
	font-family: Ubuntu;
	font-size: 25px;
	color: white;
	background-color: #010409;
}

.stats{
	background-color: rgba(83, 83, 83, 0.479);
	padding: 35px;
	border-radius: 25px;
}

.profilePicture{
	width: 100px;
	height: 100px;
	border-radius: 100px;
	padding: 10px;
}

.card{
	background-color: #0d1117;
	border-radius: 35px;
	border: 2px solid #30363d;
	margin: 20px;
	margin-top: 20px;
}

a{
	text-decoration: none;
	color: rgb(255, 255, 255);
}



.release{
	color: green;
	padding: none;
	margin: none;
}

.publish{
	color: rgb(0, 162, 255);
	padding: none;
	margin: none;
}

.watch-star{
	color: rgb(221, 221, 0);
	padding: none;
	margin: none;
}

.create{
	color: rgb(214, 0, 221);
	padding: none;
	margin: none;
}

.fork{
	color: rgb(214, 0, 0);
	padding: none;
	margin: none;
}

