@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

body {
  font-family: "Noto Sans";
  font-size: 18px;
  color: white;
  background-color: #010409;
}

p {
  margin: 10px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.repo-link {
  padding: 5px;
  margin: 0px;
  border-radius: 5px;
  color: rgb(0, 0, 217);
  background-color: rgb(255, 255, 255);
  transition: 200ms;
}

.repo-link:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  transition: 200ms;
}

.bg-normal {
  background-color: #0d1117;
}

.bg-content {
  background-color: #161b22;
}

.program-title {
  padding: 10px;
  margin: 0px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: #161b22;
  transition: 200ms;
}

.program-title:hover {
  color: rgb(255, 255, 255);
  background-color: #0d1117;
  transition: 200ms;
}

.profile-picture {
  height: 64px;
  width: 64px;
  border-radius: 100px;
  padding: 10px;
}
